#dashboard .main {
  width: 848px;
}
#dashboard .main h2 {
  padding-top: 1em;
}
#dashboard .subheading {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 1.5em;
  font-size: smaller;
}
#dashboard .profile-pic {
  position: absolute;
  z-index: 999;
  width: 64px;
  height: 64px;
  border: 3px solid #FFF;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  top: 0px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
#dashboard .profile-btn-bg {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 30%;
  bottom: 0px;
}
#dashboard .profile-pic-wrap {
  float: left;
  padding-right: 1em;
  padding-bottom: 2em;
}
#dashboard .bigblock {
  padding-bottom: 1em;
}
#dashboard img.avatar {
  width: 128px;
  height: 128px;
}
#dashboard .mentionsheading {
  clear: both;
}
#dashboard .mentionsul {
  display: block;
}
#dashboard .mentionblock a {
  color: #1736BC;
}
#dashboard .mentionblock a:visited {
  color: #091D74;
}
#dashboard li.mention {
  list-style: none;
  clear: both;
}
#dashboard label {
  display: inline;
}
#dashboard input.submit {
  display: inline;
  margin-left: 3em;
}
#dashboard span.line {
  display: block;
  padding: 0;
}
#dashboard #handle {
  display: inline;
  height: auto !important;
  width: 45%;
}
#dashboard #navbar {
  width: 100%;
}
#dashboard #githublogin {
  width: 12%;
  position: absolute;
  right: 1em;
  top: 1em;
}
#dashboard .dismiss {
  padding-left: 1em;
}
#dashboard .dismiss i {
  color: #666;
}
#dashboard .dismiss i:hover {
  color: #CB2727;
}
#dashboard .hidden {
  display: none;
}
#dashboard .comment {
  font-style: italic;
  margin: 0.25em 5em;
  padding: 1.25em 2.5em;
  position: relative;
  color: #383838;
}
#dashboard .comment:before {
  display: block;
  content: "\201C";
  font-size: 70px;
  position: absolute;
  left: 0;
  top: -0.2em;
  color: rgba(122, 122, 122, 0.34);
}
