@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-UltraLight.eot');
  src: local('Fira Sans UltraLight'), url('/fonts/eot/FiraSans-UltraLight.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-UltraLight.woff') format('woff'), url('/fonts/ttf/FiraSans-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-UltraLightItalic.eot');
  src: local('Fira Sans UltraLight Italic'), url('/fonts/eot/FiraSans-UltraLightItalic.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-UltraLightItalic.woff') format('woff'), url('/fonts/ttf/FiraSans-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-Light.eot');
  src: local('Fira Sans Light'), url('/fonts/eot/FiraSans-Light.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-Light.woff') format('woff'), url('/fonts/ttf/FiraSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-LightItalic.eot');
  src: local('Fira Sans Light Italic'), url('/fonts/eot/FiraSans-LightItalic.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-LightItalic.woff') format('woff'), url('/fonts/ttf/FiraSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-Regular.eot');
  src: local('Fira Sans Regular'), url('/fonts/eot/FiraSans-Regular.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-Regular.woff') format('woff'), url('/fonts/ttf/FiraSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-Italic.eot');
  src: local('Fira Sans Regular Italic'), url('/fonts/eot/FiraSans-Italic.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-Italic.woff') format('woff'), url('/fonts/ttf/FiraSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-Medium.eot');
  src: local('Fira Sans Medium'), url('/fonts/eot/FiraSans-Medium.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-Medium.woff') format('woff'), url('/fonts/ttf/FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-MediumItalic.eot');
  src: local('Fira Sans Medium Italic'), url('/fonts/eot/FiraSans-MediumItalic.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-MediumItalic.woff') format('woff'), url('/fonts/ttf/FiraSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-SemiBold.eot');
  src: local('Fira Sans SemiBold'), url('/fonts/eot/FiraSans-SemiBold.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-SemiBold.woff') format('woff'), url('/fonts/ttf/FiraSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-SemiBoldItalic.eot');
  src: local('Fira Sans SemiBold Italic'), url('/fonts/eot/FiraSans-SemiBoldItalic.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-SemiBoldItalic.woff') format('woff'), url('/fonts/ttf/FiraSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-Bold.eot');
  src: local('Fira Sans Bold'), url('/fonts/eot/FiraSans-Bold.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-Bold.woff') format('woff'), url('/fonts/ttf/FiraSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-BoldItalic.eot');
  src: local('Fira Sans Bold Italic'), url('/fonts/eot/FiraSans-BoldItalic.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-BoldItalic.woff') format('woff'), url('/fonts/ttf/FiraSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-UltraLight.eot');
  src: local('Fira Sans UltraLight'), url('/fonts/eot/FiraSans-UltraLight.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-UltraLight.woff') format('woff'), url('/fonts/ttf/FiraSans-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-UltraLightItalic.eot');
  src: local('Fira Sans UltraLight Italic'), url('/fonts/eot/FiraSans-UltraLightItalic.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-UltraLightItalic.woff') format('woff'), url('/fonts/ttf/FiraSans-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-Light.eot');
  src: local('Fira Sans Light'), url('/fonts/eot/FiraSans-Light.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-Light.woff') format('woff'), url('/fonts/ttf/FiraSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-LightItalic.eot');
  src: local('Fira Sans Light Italic'), url('/fonts/eot/FiraSans-LightItalic.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-LightItalic.woff') format('woff'), url('/fonts/ttf/FiraSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-Regular.eot');
  src: local('Fira Sans Regular'), url('/fonts/eot/FiraSans-Regular.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-Regular.woff') format('woff'), url('/fonts/ttf/FiraSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-Italic.eot');
  src: local('Fira Sans Regular Italic'), url('/fonts/eot/FiraSans-Italic.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-Italic.woff') format('woff'), url('/fonts/ttf/FiraSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-Medium.eot');
  src: local('Fira Sans Medium'), url('/fonts/eot/FiraSans-Medium.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-Medium.woff') format('woff'), url('/fonts/ttf/FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-MediumItalic.eot');
  src: local('Fira Sans Medium Italic'), url('/fonts/eot/FiraSans-MediumItalic.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-MediumItalic.woff') format('woff'), url('/fonts/ttf/FiraSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-SemiBold.eot');
  src: local('Fira Sans SemiBold'), url('/fonts/eot/FiraSans-SemiBold.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-SemiBold.woff') format('woff'), url('/fonts/ttf/FiraSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-SemiBoldItalic.eot');
  src: local('Fira Sans SemiBold Italic'), url('/fonts/eot/FiraSans-SemiBoldItalic.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-SemiBoldItalic.woff') format('woff'), url('/fonts/ttf/FiraSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-Bold.eot');
  src: local('Fira Sans Bold'), url('/fonts/eot/FiraSans-Bold.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-Bold.woff') format('woff'), url('/fonts/ttf/FiraSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/eot/FiraSans-BoldItalic.eot');
  src: local('Fira Sans Bold Italic'), url('/fonts/eot/FiraSans-BoldItalic.eot') format('embedded-opentype'), url('/fonts/woff/FiraSans-BoldItalic.woff') format('woff'), url('/fonts/ttf/FiraSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
.icon-home {
  background-image: url('/svg/home.svg');
  background-position: 1px 4px;
}
.icon-add {
  background-image: url('/svg/plus.svg');
}
.icon-now {
  background-image: url('/svg/this.svg');
}
.icon-next {
  background-image: url('/svg/next.svg');
}
.icon-upcoming {
  background-image: url('/svg/upcoming.svg');
}
.icon-strategy {
  background-image: url('/svg/strategy.svg');
  background-position: 2px top;
}
.icon-dashboard {
  background-image: url('/svg/dashboard.svg');
}
.icon-how {
  background-image: url('/svg/how.svg');
  background-position: 1px top;
}
.icon-involved {
  background-image: url('/svg/involved.svg');
}
.icon-github {
  background-image: url('/svg/github.svg');
  background-position: 1px top;
}
.icon-audience {
  background-image: url('/svg/audience.svg');
}
.button {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  margin: 10px;
  padding: 6px 32px;
  color: #65c5ad;
  background-color: transparent;
  border: 2px solid #65c5ad;
  border-radius: 2px;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.88em;
  font-weight: 400;
  font-kerning: normal;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover {
  background-color: #65c5ad;
  color: white;
}
.btn-white {
  color: white;
  border-color: white;
}
.btn-white:hover {
  background-color: white;
  color: #65c5ad;
}
html,
body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #0a3931;
  background-color: #f9fafa;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-weight: 400;
}
h1 {
  font-weight: 200;
}
h2,
h3,
h4 {
  font-weight: 300;
}
.auth a {
  cursor: pointer;
}
.pagefill {
  height: 100%;
}
.container {
  display: block;
  position: relative;
  min-width: 100%;
  left: 190px;
  min-height: 100%;
  top: 0;
  bottom: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  margin: -20px 0 0 0;
  padding: 0;
  background-color: #f9fafa;
}
.header {
  display: block;
  position: relative;
  width: 100%;
  height: 62px;
  color: white;
  background-color: #65c5ad;
}
.header h2 {
  line-height: 62px;
  margin-left: 60px;
}
.main {
  display: block;
  position: relative;
  width: 648px;
  margin: 0;
  padding: 48px 60px;
}
.main h2,
.main h3,
.main h4 {
  margin: 0;
}
.bugs {
  height: 100%;
}
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: scaleout 1s infinite ease-in-out;
  animation: scaleout 1s infinite ease-in-out;
}
@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
ul.navigation {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  margin: 0;
  padding: 10px 0;
  color: #858f97;
  background-color: #32383f;
  list-style: none;
}
ul.navigation ul.sublist {
  padding-left: 15px;
}
ul.navigation ul.sublist li {
  list-style: none;
}
ul.navigation li {
  margin: 12px 16px;
  padding: 2px 0px 0px 30px;
  top: -2px;
  position: relative;
  background-repeat: no-repeat;
  font-size: 0.74em;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-kerning: normal;
}
ul.navigation li a:link {
  color: inherit;
  text-decoration: none;
}
ul.navigation li a:visited {
  color: inherit;
}
ul.navigation li a:hover {
  color: #65c5ad;
}
.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
label[for="nav-trigger"] {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 2;
  height: 22px;
  width: 20px;
  cursor: pointer;
  background-image: url("/svg/hamburger.svg");
  background-size: contain;
}
.nav-trigger + label,
.container {
  transition: left 0.15s;
}
.nav-trigger:checked + label {
  left: 210px;
}
.nav-trigger:checked ~ .container {
  margin-left: 190px;
  transition: margin-left 0.15s;
}
@media screen and (min-width: 958px) {
  label[for="nav-trigger"] {
    visibility: hidden;
    left: 210px;
  }
  .container {
    margin-left: 190px;
    right: 0;
  }
  #splash .wrap {
    margin-left: -478px !important;
  }
}
#dashboard .main {
  width: 848px;
}
#dashboard .main h2 {
  padding-top: 1em;
}
#dashboard .subheading {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 1.5em;
  font-size: smaller;
}
#dashboard .profile-pic {
  position: absolute;
  z-index: 999;
  width: 64px;
  height: 64px;
  border: 3px solid #FFF;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  top: 0px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
#dashboard .profile-btn-bg {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 30%;
  bottom: 0px;
}
#dashboard .profile-pic-wrap {
  float: left;
  padding-right: 1em;
  padding-bottom: 2em;
}
#dashboard .bigblock {
  padding-bottom: 1em;
}
#dashboard img.avatar {
  width: 128px;
  height: 128px;
}
#dashboard .mentionsheading {
  clear: both;
}
#dashboard .mentionsul {
  display: block;
}
#dashboard .mentionblock a {
  color: #1736BC;
}
#dashboard .mentionblock a:visited {
  color: #091D74;
}
#dashboard li.mention {
  list-style: none;
  clear: both;
}
#dashboard label {
  display: inline;
}
#dashboard input.submit {
  display: inline;
  margin-left: 3em;
}
#dashboard span.line {
  display: block;
  padding: 0;
}
#dashboard #handle {
  display: inline;
  height: auto !important;
  width: 45%;
}
#dashboard #navbar {
  width: 100%;
}
#dashboard #githublogin {
  width: 12%;
  position: absolute;
  right: 1em;
  top: 1em;
}
#dashboard .dismiss {
  padding-left: 1em;
}
#dashboard .dismiss i {
  color: #666;
}
#dashboard .dismiss i:hover {
  color: #CB2727;
}
#dashboard .hidden {
  display: none;
}
#dashboard .comment {
  font-style: italic;
  margin: 0.25em 5em;
  padding: 1.25em 2.5em;
  position: relative;
  color: #383838;
}
#dashboard .comment:before {
  display: block;
  content: "\201C";
  font-size: 70px;
  position: absolute;
  left: 0;
  top: -0.2em;
  color: rgba(122, 122, 122, 0.34);
}
/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/keystonejs/react-select
*/
.Select {
  position: relative;
}
.Select-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #cccccc;
  border-color: #d9d9d9 #cccccc #b3b3b3;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: white;
  border-color: #b3b3b3 #cccccc #d9d9d9;
  cursor: text;
}
.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999999;
  border-width: 0 5px 5px;
}
.is-focused:not(.is-open) > .Select-control {
  border-color: #0088cc #0099e6 #0099e6;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px rgba(0, 136, 204, 0.5);
  cursor: text;
}
.Select-placeholder {
  color: #aaaaaa;
  padding: 8px 52px 8px 10px;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipses;
  white-space: nowrap;
}
.has-value > .Select-control > .Select-placeholder {
  color: #333333;
}
.Select-input > input {
  cursor: default;
  background: none transparent;
  border: 0 none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.Select-loading {
  -webkit-animation: spin 400ms infinite linear;
  -o-animation: spin 400ms infinite linear;
  animation: spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #cccccc;
  border-right-color: #333333;
  display: inline-block;
  position: relative;
  margin-top: -8px;
  position: absolute;
  right: 30px;
  top: 50%;
}
.has-value > .Select-control > .Select-loading {
  right: 46px;
}
.Select-clear {
  color: #999999;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 6px 10px;
  position: absolute;
  right: 17px;
  top: 0;
}
.Select-clear:hover {
  color: #c0392b;
}
.Select-clear > span {
  font-size: 1.1em;
}
.Select-arrow {
  border-color: #999999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: -ceil(2.5px);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}
.Select-menu {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: white;
  border: 1px solid #cccccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}
.Select-option {
  box-sizing: border-box;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-focused {
  background-color: #f2f9fc;
  color: #333333;
}
.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select.is-multi .Select-control {
  padding: 2px 52px 2px 3px;
}
.Select.is-multi .Select-input {
  vertical-align: middle;
  border: 1px solid transparent;
  margin: 2px;
  padding: 3px 0;
}
.Select-item {
  background-color: #f2f9fc;
  border-radius: 2px;
  border: 1px solid #c9e6f2;
  color: #0088cc;
  display: inline-block;
  font-size: 1em;
  margin: 2px;
}
.Select-item-icon,
.Select-item-label {
  display: inline-block;
  vertical-align: middle;
}
.Select-item-label {
  cursor: default;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  padding: 3px 5px;
}
.Select-item-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c9e6f2;
  padding: 2px 5px 4px;
}
.Select-item-icon:hover,
.Select-item-icon:focus {
  background-color: #ddeff7;
  color: #0077b3;
}
.Select-item-icon:active {
  background-color: #c9e6f2;
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}
#add p {
  margin: 0;
  font-weight: 400;
  font-size: 0.85em;
  font-kerning: normal;
}
#add textarea {
  width: 100%;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #ddedf2;
  padding: 5px;
  font-family: inherit;
}
#add .question {
  margin-bottom: 40px;
}
#add .error {
  display: block;
  width: 100%;
  padding: 20px;
  background-color: yellow;
  margin-bottom: 40px;
}
#add .login {
  width: 100%;
  height: 600px;
  margin-top: 40px;
  text-align: center;
}
#add .Select {
  width: 25em;
}
#audience section {
  margin: 1em 0 2em 0;
}
#audience section .subsection {
  background-color: white;
  padding: 16px;
  margin: 1em 0;
  font-weight: 200;
}
#audience section .subsection.bare {
  padding: 0;
  background-color: transparent;
}
#audience section .subsection.grid [class*='row-'] {
  padding-bottom: 16px;
  display: table;
  width: 100%;
}
#audience section .subsection.grid [class*='row-']:last-child {
  padding-bottom: 0;
}
#audience section .subsection.grid [class*='row-'] .col {
  display: table-cell;
  box-sizing: border-box;
}
#audience section .subsection.grid .row-2 .col {
  width: 50%;
}
#audience section .subsection.grid .row-3 .col {
  width: 33.33%;
}
#audience section.motivators .subsection p {
  font-size: .8rem;
  font-style: italic;
}
#audience section.motivators .subsection.grid [class*='row-'] .col {
  min-height: 80px;
  background-size: 80px;
  background-repeat: no-repeat;
}
#audience section.motivators .subsection.grid [class*='row-'] .col:first-child {
  border-right: 16px solid transparent;
  padding-right: 96px;
  background-position: 100% 0%;
}
#audience section.motivators .subsection.grid [class*='row-'] .col:last-child {
  border-left: 16px solid transparent;
  padding-left: 96px;
  background-position: 0% 0%;
}
#audience section.motivators .subsection.grid [class*='row-'] .col.attention {
  background-image: url('/svg/motivator-attention.svg');
}
#audience section.motivators .subsection.grid [class*='row-'] .col.aspiration {
  background-image: url('/svg/motivator-aspiration.svg');
}
#audience section.motivators .subsection.grid [class*='row-'] .col.self-expression {
  background-image: url('/svg/motivator-self-expression.svg');
}
#audience section.motivators .subsection.grid [class*='row-'] .col.community {
  background-image: url('/svg/motivator-community.svg');
}
#audience section.personas .subsection.grid [class*='row-'] .col {
  background: white;
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: 16px 16px;
  padding: 16px;
  /* ᕕ( ᐛ)ᕗ */
}
#audience section.personas .subsection.grid [class*='row-'] .col:nth-child(1) {
  border-right: 10.66666667px solid #f9fafa;
}
#audience section.personas .subsection.grid [class*='row-'] .col:nth-child(2) {
  border-left: 5.33333333px solid #f9fafa;
  border-right: 5.33333333px solid #f9fafa;
}
#audience section.personas .subsection.grid [class*='row-'] .col:nth-child(3) {
  border-left: 10.66666667px solid #f9fafa;
}
#audience section.personas .subsection.grid [class*='row-'] .col .info-box {
  width: 100%;
  margin-left: 166px;
  min-height: 166px;
}
#audience section.personas .subsection.grid [class*='row-'] .col .info-box ul.traits {
  list-style: none;
  padding: 0;
  font-size: .8rem;
  font-style: italic;
}
#audience section.personas .subsection.grid [class*='row-'] .col .info-box ul.motivators {
  list-style: none;
  padding: 0;
  font-size: .6rem;
}
#audience section.personas .subsection.grid [class*='row-'] .col .info-box ul.motivators li.on {
  font-weight: bold;
}
#audience section.personas .subsection.grid [class*='row-'] .col.jane {
  background-image: url('/img/personas/jane.png');
}
#audience section.personas .subsection.grid [class*='row-'] .col.lewis {
  background-image: url('/img/personas/lewis.png');
}
#audience section.personas .subsection.grid [class*='row-'] .col.sadia {
  background-image: url('/img/personas/sadia.png');
}
#audience section.personas .subsection.grid [class*='row-'] .col.kevin {
  background-image: url('/img/personas/kevin.png');
}
#audience section.personas .subsection.grid [class*='row-'] .col.lajune {
  background-image: url('/img/personas/lajune.png');
}
#audience section.personas .subsection.grid [class*='row-'] .col.kathryn {
  background-image: url('/img/personas/kathryn.png');
}
#audience section.personas .subsection.grid [class*='row-'] .col p {
  font-size: .85rem;
}
#audience section.personas .subsection.grid [class*='row-'] .col p.quote {
  font-size: .9rem;
  font-style: italic;
  font-weight: bold;
}
#audience section.personas .subsection.grid [class*='row-'] .col p.quote:before {
  content: '"';
}
#audience section.personas .subsection.grid [class*='row-'] .col p.quote:after {
  content: '"';
}
#audience section.journey img {
  width: 100%;
  cursor: zoom-in;
}
.upcoming .issues {
  list-style: none;
  margin: 16px 0 40px 0;
  padding: 0;
}
.upcoming .issues li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 168px;
  height: 154px;
  padding: 16px;
  margin: 0 17px 17px 0;
  background-color: white;
  border-radius: 3px;
  border: 1px solid transparent;
}
.upcoming .issues li:hover {
  cursor: pointer;
  border: 1px solid rgba(1, 1, 1, 0.2);
  background: rgba(1, 1, 1, 0.08);
}
.upcoming .issues li:nth-child(3n) {
  margin: 0 0 17px 0;
}
.upcoming .issues img {
  position: absolute;
  width: 46px;
  height: 46px;
  bottom: 16px;
  left: 16px;
  border-radius: 50%;
  background-color: #ddedf2;
}
.upcoming .issues a {
  color: #0a3931;
  text-decoration: none;
}
.upcoming .issues .labels {
  list-style: none;
  margin: 14px 0 0 0;
  padding: 0;
}
.upcoming .issues .labels li {
  height: auto;
  width: auto;
  display: inline-block;
  padding: 4px 10px;
  margin: 0 0px 4px 4px;
  border-radius: 2px;
  font-size: 0.6em;
}
.upcoming .clearfix {
  clear: both;
}
#splash {
  display: block;
  position: relative;
  width: 100%;
}
#splash .masthead {
  display: block;
  position: relative;
  width: 100%;
  height: 585px;
  margin: -22px 0 0 0;
  background-color: #65c5ad;
  background-image: url('/svg/background.svg');
  background-repeat: repeat-x;
  background-position: 130% center;
}
#splash .masthead h1 {
  display: block;
  width: 580px;
  margin: 0 auto;
  padding: 112px 0 0 0;
  color: white;
  text-align: center;
  font-size: 4.0em;
  line-height: 1.2em;
}
#splash .masthead .center {
  margin-top: 50px;
}
#splash .copy {
  display: block;
  position: relative;
  width: 100%;
  height: 420px;
  background-color: #f9fafa;
}
#splash .copy .wrap {
  padding-top: 30px;
}
#splash .copy h4 {
  margin: 0;
  padding: 0;
  color: #65c5ad;
  font-weight: 500;
  text-transform: uppercase;
}
#splash .copy .columns {
  margin-top: 30px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px;
}
#splash .copy p {
  margin: 0 0 1em 0;
}
#splash .wrap {
  display: block;
  position: absolute;
  width: 648px;
  left: 50%;
  margin-left: -382px;
  padding: 48px 60px;
}
#splash .center {
  text-align: center;
}
.heartbeat .issues {
  list-style: none;
  margin: 24px 0 40px 0;
  padding: 0;
}
.heartbeat .issues img {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background-color: white;
  float: left;
}
.heartbeat .issues a {
  color: #0a3931;
}
.heartbeat .issues h3 {
  margin: 0 0 8px 100px;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.2em;
}
.heartbeat .issues p {
  font-size: 0.8em;
  margin: 0 0 8px 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.heartbeat .issues li.issue {
  padding: 12px 0 12px 12px;
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.heartbeat .issues li.issue:hover {
  cursor: pointer;
  border: 1px solid rgba(1, 1, 1, 0.2);
  background: rgba(1, 1, 1, 0.08);
}
.heartbeat .issues li.role {
  list-style: none;
}
.heartbeat .issues .right {
  font-size: smaller;
  font-weight: normal;
  float: right;
  width: 250px;
}
.heartbeat .issues .right .role {
  padding-right: .5em;
}
.heartbeat .issues .left {
  float: left;
  width: 370px;
}
.heartbeat .labels {
  list-style: none;
  margin: 0 0 0 100px;
  padding: 0;
}
.heartbeat .labels li {
  height: auto;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 2px;
  font-size: 0.6em;
  margin-right: 1ex;
  margin-top: 1ex;
}
.heartbeat .clearfix {
  clear: both;
}
.filterdiv {
  position: absolute;
  right: 10em;
  top: 2.5em;
  z-index: 1000;
}
.filter {
  background: transparent linear-gradient(#ffffff, #eeeeee) repeat scroll 0% 0%;
  border: 1px solid #BFBFBF;
  border-radius: 6px;
  box-shadow: 0px 2px 0px #fff;
  color: #333;
  display: block;
  float: left;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  margin: 0px;
  padding: 0px 10px;
  width: 200px;
}
.searchIcon {
  position: absolute;
  right: .2em;
  top: .5em;
  color: #777;
}
.searchIcon {
  padding-top: .2em;
  padding-right: 1em;
  text-align: right;
}
