<div class="main">
    <div id="assets">
        <h2 class="clearfix">Design Assets</h2>
        <p>These live on <a href="https://drive.google.com/drive/u/0/#folders/0B_rbDAen9prkS0N4MXRqaGo4bEE">Google Drive</a> for now.  Each link below will take you to the relevant subdirectory.

        <ul class="assets">
        <li><a href="https://drive.google.com/drive/u/0/#folders/0B_rbDAen9prkS0N4MXRqaGo4bEE/0ByGu6IwBft5mNHFHVWNGSmNoNkU">Bootstrap</a> houses Illustrator files to design using Bootstrap 3 grids</li>
        <li><a href="https://drive.google.com/drive/u/0/#folders/0B_rbDAen9prkS0N4MXRqaGo4bEE/0B_rbDAen9prkbjJDeVYxMmhUVTQ">Templates</a> is where we keep starter Sketch files for Webmaker pages</li>
        <li><a href="https://drive.google.com/drive/u/0/#folders/0B_rbDAen9prkS0N4MXRqaGo4bEE/0B_rbDAen9prkekZVdTJ0VjcxUzg">Process</a> has assets we use in redpen to indicate process state</li>
        <li><a href="https://drive.google.com/drive/u/0/#folders/0B_rbDAen9prkS0N4MXRqaGo4bEE/0B_rbDAen9prkNXpOTzdpZ3NkUU0">Patterns</a> tileable patterns</li>
        <li><a href="https://drive.google.com/drive/u/0/#folders/0B_rbDAen9prkS0N4MXRqaGo4bEE/0B_rbDAen9prkZjRsMDJMa3h0WUE">Logos</a></li>
        <li><a href="https://drive.google.com/drive/u/0/#folders/0B_rbDAen9prkS0N4MXRqaGo4bEE/0B_rbDAen9prkVmNRWnNIT0JfcHc">Icons</a></li>
        <li><a href="https://drive.google.com/drive/u/0/#folders/0B_rbDAen9prkS0N4MXRqaGo4bEE/0B_rbDAen9prkUmd1N1lFM3E0dFk">Colors</a></li>
        </ul>
    </div>
</div>
