@import "../colors";

.grid-4 {
  width: 20%;
  float: left;
  margin: 0 60px 40px 0;
  @media screen and (max-width: 1200px) {
    width: 37%;
  }
  .button {
    margin: 0;
  }
  .link {
    color: @linkColor;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.design-intro {
  width: 100%;
  background-color: #00A18A;
  background-image: url('/svg/design-page-pattern.svg');
  padding: 0 0 40px 0;
  min-height: 360px;
  height: 60vh;
  header {
    color: white;
    h2 {
      margin-top: 0;
      font-weight: 400;
      text-align: center;
      font-size: 35px;
    }
    h4 {
      margin: 40px 0 20px 0;
      color: white;
      font-weight: 300;
      font-size: 25px;
      text-align: center;
    }
  }
}

.wrap {
    display: inline-block;
    position: relative;
    width: 648px;
    left: 50%;
    margin-left: -382px;
    padding: 12vh 60px 0 60px;
    @media screen and (min-width: 958px) {
      margin-left: -478px !important;
    }
    @media screen and (max-width: 958px) {
      // display: inline;
    }
    &.small {
      padding: 28px 60px 0 60px;
    }
}

.description {
  color: @darkgray;
  max-width: 1000px;
  font-size: 22px;
  line-height: 40px;
  a {
    color: @highlight;
  }
}

#assets {
  margin: 30px 0;
  h2 {
    margin-bottom: 15px;
    font-size: 38px;
    color: @darkgray;
  }
  h4 {
    color: @highlight;
    font-weight: 600;
    font-size: 25px;
  }
}
