.issues-page {

    .search-types {
        padding: 3px 0 6px 10px;
        border: 1px solid rgb(221, 237, 242);
        border-right: 0 solid white;
    }

    .current-search-input {
        width: 100%;
    }

    input {
        margin-top: 10px;
        background-color: @white;
        border: 1px solid @gray;
        padding: 5px 10px;
        font-family: inherit;
    }
}
